.git
.github
docs
tests
logs
vendor
build
config/baikal.yaml
Specific/db/*
Specific/INSTALL_DISABLED
*.swp
.DS_Store
.php-cs-fixer.cache
.php_cs.cache
nbproject
README.md
run_tests.py
phpstan.neon
.php-cs-fixer.dist.php
